/* Common Styling */
  .SignupPage {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input-group {
    position: relative;
    --primary: #5f56e5;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
  
  .input-style {
    background-color: #ffffff;
    border-radius: 10px;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 15px;
    width: 100%; 
    box-sizing: border-box;
  }
  
  .label {
    top: -15px;
    left: 20px; 
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    /* background-color: #ffffff; */
    padding: 0 5px;
  }
  
  .input-style:focus {
    border: 2px solid var(--primary);
  }
  
  .input-group:focus-within .label {
    color: var(--primary);
  }
  
