.App {
  text-align: center;
  min-width: fit-content;
  background-color: #333333;
}

.appcont {
  background-color: #333333;
}
/* Light Theme */
.light {
  background-color: #ffffff;
  color: #333333;
}

.light input {
  border: 1px solid #ddd;
  background-color: #ffffff;
}

.light p {
  color: #464646;
}
.light h1, h2 {
  color: #464646;
}

/* Dark Theme */
.dark {
  background-color: #333333;
  color: #ffffff;
}

.dark input {
  border: 1px solid #ffffff;
  background-color: #333333;
}

/* YourComponent.css */

@keyframes slideAnimation {
  0%, 100% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
}

.city-img{
  animation: slideAnimation 4s linear infinite; 
}

